body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#container {
  background-color: #003049;
  width: 90%;
  /* height: 200px; */
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  /* flex-direction: column-reverse; # row is default value */
  flex-direction: row;
  /* center, space-between, flex-end, space-around, space-evenly...
  distributing spaces depends on flex direction */
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* align-content: center; */
}

#container div {
  width: 200px;
  height: 200px;
  text-align: center;
  flex-basis: 400px;
}

div:nth-of-type(3) {
  /* align-self: flex-end; */
  flex-shrink: 2;
}

div:nth-of-type(2) {
  /* align-self: center; */
  flex-grow: 1;
}

main {
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  height: 500px;
  display: flex;
}

main .sidebar {
  background-color: #6930c3;
  /* border: 2px solid white; */
  flex: 1 2 300px;
}

main .maincontent {
  background-color: #80ffdb;
  flex: 2 1 800px;
}
