h1 {
  background-color: palegoldenrod;
  border: 1px solid black;
  width: 500px;
  padding: 50px;
  margin: 100px;
  /* display: none -> hide the element */
  display: none;
}

span {
  background-color: palevioletred;
  border: 1px solid black;
  width: 500px;
  /* padding: 50px;
  margin: 50px; */
}

div {
  height: 200px;
  width: 200px;
  background-color: olive;
  border: 5px solid black;
  display: inline-block;
  margin: 30px;
}
