section {
  width: 500px;
  height: 500px;
  background-color: magenta;
}

#rgba {
  width: 50%;
  height: 50%;
  /* rgba: alpha channel-> transparency */
  /* background-color: rgba(255, 255, 255, 0.7); */
  background-color: #00cca0b9; /* -> the last two digit means transparency*/
}

#opacity {
  width: 50%;
  height: 50%;
  background-color: yellow;
  opacity: 0.5;
}
