img {
  width: 30%;
  margin: calc(10% / 6);
  transition: transform 1s;
}

nav {
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10% / 6);
  padding: 1.2em 0;
  font-family: "raleway", sans-serif;
  font-size: 20px;
}

/* img:hover {
  transform: translateY(3px);
  cursor: pointer;
} */

/* img:active {
  transform: scale(100px);
} */

body {
  background-color: aliceblue;
}
