img {
  width: 30%;
  margin: calc(10% / 6);
  transition: transform 1s;
}

img:hover {
  transform: translateY(3px);
  cursor: pointer;
}

img:active {
  transform: scale(100px);
}

body {
  background-color: aliceblue;
}
