div {
  width: 100px;
  height: 100px;
  background-color: #3d405b;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
}

#middle {
  background-color: #81b29a;
}

#static #middle {
  position: static;
  top: 100px;
}

#relative #middle {
  position: relative;
  top: 50px;
  left: -50px;
}

#absolute #middle {
  position: absolute;
  top: 1;
  left: 1;
}

#fixed #middle {
  position: fixed;
  top: 1;
  left: 1;
  /* kinda absolute but fixed even scrolling */
}
/* there's 'sticky' position, it's sticky on screen when scrolling down  */
